<h1> Change Dispenser </h1>
<form  action="/results">
  <div class="form-group">
    <label for="change">Enter Your Change</label>
    <input id="change" class="form-control" name="change" type="text">
  </div>
  <button type="submit" class="btn">Calculate my Change!</button>
</form>
